{:deps
 {:aliases [:dev]}

 :builds
 {:app
  {:target     :browser

   :modules {:app {:entries [io.dbme.client]
                   ;; :preloads [devtools.preload]
                   }}

   :output-dir "resources/public/js/compiled"
   :asset-path "/js/compiled"
   :dev        {:compiler-options {:devcards true}}
   :release    {:compiler-options {:warnings-as-errors true
                                   :warnings {:redef-in-file false}
                                   :closure-defines {goog.DEBUG false
                                                     goog.debug.LOGGING_ENABLED true}}}
   :js-options {:resolve
                {"react"     {:export-globals ["React"]}
                 "react-dom" {:export-globals ["ReactDOM"]}}}
   :devtools   {:watch-dir ""
                :watch-path "resources/public"
                :repl-pprint true
                :preloads [re-frisk-remote.preload]
                :before-load io.dbme.client/stop
                :after-load io.dbme.client/start!}}}

 ;; TODO understand
 :cache-blockers #{}}
